html{
  background: linear-gradient(to top left, #252c8e 31%, #d41c78 56%);
}


body{ 
  font-family:'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  
}

iframe{
  aspect-ratio: 16/9;
  
}

.grid-container{
  display: grid;
  grid-template-columns: auto;
  
}
h1{
  color: bisque;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
}
.playlist-container{
display: flex;
flex-direction: column;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 20px;


}
@media (max-width:6500px) {
  .playlist-container{
    width: 5100px;
    height: 2868px;
  }
}

@media (max-width:5300px) {
  .playlist-container{
    width: 3700px;
    height: 2081px;
  }
}

@media (max-width:3900px) {
  .playlist-container{
    width: 2800px;
    height: 1575px;
  }
}

@media (max-width:2900px) {
  .playlist-container{
    width: 1800px;
    height: 1012px;
  }
}

@media (max-width:1900px) {
  .playlist-container{
    width: 1200px;
    height: 675px;
  }
}

@media (max-width:1300px) {
  .playlist-container{
    width: 890px;
    height: 500px;
  }
}


@media (max-width:900px) {
  .playlist-container{
    width: 690px;
    height: 388px;
  }
}



@media (max-width:730px) {
  .playlist-container{
    width: 410px;
    height: 230px;
  }
}
@media (max-width:425px) {
  .playlist-container{
    width: 370px;
    height: 207px;
  }
}

@media (max-width:380px) {
  .playlist-container{
    width: 240px;
    height: 135px;
  }
}


@media (max-width:280px) {
  .playlist-container{
    width: 120px;
    height: 67px;
  }
}

@media (max-width:194px) {
  .playlist-container{
    width: 50px;
    height: 28px;
  }
}
.none{
  display: none;
}

button{
  background-color: transparent;
  border: 1px solid ;
  border-radius: 8px;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight:700;
}
input{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 30px;

 
}
::placeholder{
  font-size: 30px;
  color:black;
  font-weight: bold;
}

